body { margin: 0; padding: 0; box-sizing: border-box; display: flex; justify-content: center; align-items: center;
/*background-image: url(/windows10.png);*/
img{
    width: 18px;
    
    height: 11px;
    justify-content: left;
    margin-left: 4%;
    margin-top: 5%;
    cursor: pointer;
}
.menuimg{
    position: relative;
    z-index: 999;
}
.menuitens{
   display: none;
}
.menuitenslista{
    margin: 0;
    
    position: relative;
    
    top: 4%
    
 }
 
 
.menuh{
    position: absolute;
    z-index: 10;
    width:310px;
    
    height: 450px;
    top: 8%;
    background-color: #d6dae0;
    ul{
        box-sizing: content-box
    }
    ul:hover{
        background-color: #0d45a5;
        cursor: pointer;
    }
}
#janela{
    width: 45px;
    height: 29.5px;
    font-size: 13pt;
    margin: 0;
    padding:0;
    border:none;
    position: relative;
    right: 60px;
    
}
.janelax{
    width: 45px;
    height: 29.5px;
    font-size: 13pt;
    margin: 0;
    padding:0;
    border:none;
    position: relative;
    right: 60px;
    border-radius: 0;
    
}
.janelax:hover{
    
    background-color: red;
    color:white;

}
#janela:hover{
    
        background-color: #d6dae0;
    
}

strong{
    font-size: 14pt;
    font-family: sans-serif;
}

.holder{
    visibility: hidden;
} 
    section{
       
        input{
            
            font-size: 35pt;
            text-align: right;
            width: 314px;
            height: 100px;
            top: 15%;
            right: 0;
            border: none;
            font: normal 35pt arial;
            background-color: #F3F3F3;
            position: absolute;
            pointer-events: none;
            }
        input::placeholder{
                color:black;
            }
            input:hover{
                border: none;
            }
        .calculadora{
            max-width: 320px;
            max-height: 500px;
            width:320px;
            height: 500px;
            background-color: #F3F3F3;
            border: solid;
            border-width: 0.01mm;
            border-color: #707070;
           // text-align: center;
            position: relative;
            
            }
            .botoes{
                border: none;
                position: absolute;
                bottom: 6px;
                left: 4px;
                .res{
                    margin: -1px;
                    cursor: pointer;
                    width: 77px;
                    height: 49px;
                    border: none;
                    border-radius: 0;
                    background-color: #f8f8f8;}
                .resnumero{
                    margin: -1px;
                    cursor: pointer;
                    font: bold 12pt arial;
                    width: 77px;
                    height: 49px;
                    border: none;
                    border-radius: 0;
                    background-color: #FCFCFC;}
                }
            
            a{
                background-color: #F3F3F3;
                text-align: right;
                width: 314px;
                height: 100px;
                border: none;
                font: normal 35pt arial;
                position: absolute;
                right: 0;
                top:20%;
                max-width: 11ch;
                overflow: hidden;
                text-overflow: clipped overflow;
                white-space: nowrap;
                
                
               
                
            }
        }
        
        
    } 
        td{
            padding-right: 32px;
            font: normal 9pt arial;

        }    
    
