body { margin: 0; padding: 0; box-sizing: border-box; display: flex; justify-content: center; align-items: center;
/*background-image: url(/windows10.png);*/
    
    section{
        .calculadora{
            max-width: 320px;
            max-height: 500px;
            width:320px;
            height: 500px;
            background-color: #F3F3F3;
            border: solid;
            border-width: 0.01mm;
            border-color: #707070;
            text-align: center;
            position: relative;
            #botaotable{
                position: sticky;
                border: none;
                border-radius: 0;
                background-color: #F3F3F3;
                text-align: right;
            }
            .botoes{
                border: none;
                position: absolute;
                bottom: 6px;
                left: 4px;
                .res{
                    margin: -1px;
                    font: xx-large 25pt arial;
                    width: 77px;
                    height: 49px;
                    border: none;
                    border-radius: 0;
                    background-color: #f8f8f8;}
                .resnumero{
                    margin: -1px;
                    font: bold 12pt arial;
                    width: 77px;
                    height: 49px;
                    border: none;
                    border-radius: 0;
                    background-color: #FCFCFC;}
                }
           
                   
                

            
            input{
                background-color: #F3F3F3;
                text-align: right;
                width: 314px;
                height: 100px;
                border: none;
                font: normal 35pt arial;
            }
        }
        
        
    } 
    
    }
